{% extends 'base.html' %}

{% block title %} Polls list{% endblock %}
{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{%  static 'polls/style-list.css' %}">

    <div class="container">
        <div class="question">
            <h1 class="title">Polls</h1>
            <br>
            <h4 class="title">Choose question!</h4>
            <br>
            <div class="list">
            {% if latest_question_list %}
                <ul>
                    {% for question in latest_question_list %}
                    <li class="q">
                        <p>{{question.question_text}}</p>
                        <a href="{% url 'polls:detail' question.id %}" class="btn btn-info btn-sm">Vote</a>
                        <a href="{% url 'polls:results' question.id %}" class="btn btn-info btn-sm">Result</a>
                        <a href="{% url 'polls:chart' question.id %}" class="btn btn-info btn-sm">Chart</a>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
            </div>
        </div>

        </iframe>
    </div>
{% endblock %}