body {
    background: cadetblue url("images/background.png");
    background-size: 100%;
}

.q {
    color: cadetblue;
    margin-bottom: 10px;
}
li a {
    color: cadetblue;
}

.question {
    margin: 10px auto;
    padding: 20px;
    background-color: aliceblue;
    width: 30%;
    height: 480px;
    border: 5px double cadetblue;
    border-radius: 10px;
    /*float: left;*/
}
.container {
    margin: auto;
}
.fr {
    margin: 10px;
    width: 60%;
    height: 480px;
    border: 5px double cadetblue;
    border-radius: 10px;
}

.title {
    margin-left: 10px;
    color: cadetblue;
    line-height: 0.5;
}